* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s; /*nos hace las transiciones mas relajadas*/
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #1d1d66, #1cb5e0);
  min-height: 100vh;
}

/* IMAGEN DE CABECERA */

body > header {
  padding: 0.4rem;
}
body > header > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
body > header > a > img {
  display: flex;
  align-items: center;
  height: 90px;
  border: 1px solid rgb(0, 119, 255);
  border-radius: 20px;
}

/* MAIN */
.contenedor {
  width: 98vw;
  height: auto;
  padding: 2% 0;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.question {
  font-family: fantasy;
  font-style: oblique;
  color: rgb(211, 196, 196);
  background: linear-gradient(to left, #1d1d66, #1cb5e0);
  padding: 10px;
  min-width: 340px;
  width: 80%;
  border-radius: 5px;
}

.answers {
  position: relative;
  width: 80%;
  padding: 5px;
  font-family: serif;
  font-style: italic;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
}

li {
  background: rgb(211, 196, 196);
  padding: 10px;
  width: 100%;
  border-radius: 50px;
  list-style: none;
  margin-top: 3px;
}

li:hover {
  background: green;
  cursor: pointer;
  transform: scale(1.04);
}

#question-number {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(211, 196, 196, 0.5);
  margin: -25px 0px 30px 0px;
}

button {
  background: rgb(211, 196, 196);
  margin: -3px 0px 30px 0px;
  width: 150px;
  border-radius: 30px;
  padding: 5px;
  text-transform: uppercase;
  font-family: serif;
  font-style: normal;
}

.botones {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

/* FOOTER */
footer {
  background-color: #1d1d66;
  color: rgba(211, 196, 196, 0.4);
  width: 100%;
  margin-top: auto;
  text-align: center;
  position: relative;
}

/**######################
 * ## Min. width 700px ## // TABLET
 * ######################*/
@media (min-width: 700px) {
  body > header > a > img {
    display: flex;
    align-items: center;
    height: 150px;
    border: 1px solid rgb(0, 119, 255);
    border-radius: 20px;
  }

  .question {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1.6rem;
    justify-content: space-around;
  }
  li {
    width: 48%;
  }

  .contenedor {
    width: 100%;
    padding: 0% 1vw;
  }

  .botones {
    flex-direction: row;
    gap: 20px;
  }
}

/**#######################
 * ## Min. width 1200px ##
 * #######################*/
@media (min-width: 1200px) {
  li {
    width: 48%;
  }
}

/*
.correct {
  background-color: aqua;
}

.incorrect {
  background-color: red;
}
*/
